html, body, canvas, .gradient, .sky-box {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  user-select: none;
  content-zooming: none;
}

.gradient {
  background-color: #fa0;
  z-index: 2;
  opacity: 0.3;
}
